@import url("../global.css");
@import url("./components/variables.css");

.btn-inicio {
    background-color: var(--botao-bg);
    color: var(--botao-texto);
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-family: 'Parkinsans', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 5px 15px var(--sombra);
}

.btn-inicio:hover {
    background-color: var(--botao-bg-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px var(--sombra-hover);
    cursor: url('../../imagens/cursor/Normal\ Select\ 5.cur'), pointer;
}

.btn-categoria {
    background: var(--botao-bg);
    color: var(--botao-texto);
    font-family: "Caprasimo", serif;
    font-size: 20px;
    text-decoration: none;
    padding: 24px 40px;
    border: none;
    border-radius: 32px;
    box-shadow: 0 10px 20px rgba(98, 67, 153, 0.3);

    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 280px;
    margin: auto;
}

.btn-categoria:hover {
    background: linear-gradient(135deg, var(--hover-bg), var(--accent));
    transform: translateY(-6.4px) scale(1.05);
    box-shadow: 0 20px 40px rgba(98, 67, 153, 0.4), 0 0 16px var(--accent);
    cursor: url('../../imagens/cursor/Normal\ Select\ 5.cur'), pointer;
}