@import url("./components/variables.css");

.btn-inicio {
    background-color: var(--botao-bg);      
    color: var(--botao-texto);               
    border: none;                            
    border-radius: 20px;                  
    padding: 12px 24px;  
    font-family: 'Parkinsans', sans-serif;               
    font-size: 16px;                         
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 5px 15px var(--sombra); 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.inicio:hover {
    background-color: var(--botao-bg-hover); 
    transform: translateY(-2px);        
    box-shadow: 0 8px 20px var(--sombra-hover); 
}
.inicio-flex-center {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}